Repository tailux-org/tailux: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm run lint:fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "pnpm run lint:fix"
  ],
  "**/*.{css,scss}": [
    "prettier --write"
  ],
  "**/*.{css,md,mdx,yml,yaml,czrc,json,babelrc,eslintrc,prettierrc}": [
    "prettier --write"
  ]
}

refactor(storybook): css formatting in style.css
  packages/storybook/.storybook/style.css
Due: prettier --write

ci: remove release workflow
  .github/workflows/release.yml
Due: prettier --write

refactor: pickColor function signature
  packages/core/theme/src/utils/object.ts
Due: prettier --write, pnpm run lint:fix

refactor: reorder import statements in semantic.ts
  packages/core/theme/src/colors/semantic.ts
Due: prettier --write, pnpm run lint:fix

chore(root): update eslint and prettier configuration
  .eslintrc.json
  .prettierrc.json
Due: prettier --write

chore(root): update tsconfig file
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

chore(root): inherit tsconfig from base configuration
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

build(theme): update tsup.config.ts
  packages/core/theme/tsup.config.ts
Due: prettier --write, pnpm run lint:fix

chore(tsconfig): update all tsconfig files
  packages/tsconfig/base.json
  packages/tsconfig/react-app.json
  packages/tsconfig/react-library.json
Due: prettier --write

chore(theme): update tsconfig
  packages/core/theme/tsconfig.json
Due: prettier --write

style(theme): update colors
  packages/core/theme/src/colors/abbey.ts
  packages/core/theme/src/colors/common.ts
  packages/core/theme/src/colors/crimson.ts
  packages/core/theme/src/colors/grape.ts
  packages/core/theme/src/colors/index.ts
  packages/core/theme/src/colors/jade.ts
  packages/core/theme/src/colors/magenta.ts
  packages/core/theme/src/colors/palette/index.ts
  packages/core/theme/src/colors/sapphire.ts
  packages/core/theme/src/colors/semantic.ts
  packages/core/theme/src/colors/sunflower.ts
  packages/core/theme/src/colors/types.ts
Due: prettier --write, pnpm run lint:fix

chore(theme): export colors from root project
  packages/core/theme/colors.d.ts
  packages/core/theme/colors.js
  packages/core/theme/package.json
Due: prettier --write, pnpm run lint:fix

feat(theme): create tailwindcss plugin
  packages/core/theme/plugin.d.ts
  packages/core/theme/plugin.js
  packages/core/theme/src/config-resolution.ts
  packages/core/theme/src/config.ts
  packages/core/theme/src/index.ts
  packages/core/theme/src/plugin.ts
  packages/core/theme/src/themes.ts
  packages/core/theme/src/types.ts
  packages/core/theme/src/utilities/index.ts
  packages/core/theme/src/utilities/scrollbar-hide.ts
  packages/core/theme/src/utilities/transitions.ts
  packages/core/theme/src/utils/internal.ts
  packages/core/theme/src/utils/object.test.ts
  packages/core/theme/src/utils/object.ts
Due: prettier --write, pnpm run lint:fix

feat(storybook): add colors stories
  packages/core/theme/stories/colors.mdx
  packages/core/theme/stories/colors.stories.tsx
  packages/core/theme/stories/components/ColorSwatch.tsx
  packages/core/theme/stories/components/index.ts
  packages/core/theme/stories/utils/colors.ts
  packages/core/theme/stories/utils/index.ts
  packages/storybook/.storybook/main.ts
  packages/storybook/blocks/ColorPreview.tsx
  packages/storybook/blocks/ColorSchemePreview.tsx
  packages/storybook/blocks/index.ts
  packages/storybook/postcss.config.js
  packages/storybook/stories/colors.mdx
  packages/storybook/tailwind.config.js
  packages/storybook/tailwind.config.ts
Due: prettier --write, pnpm run lint:fix

chore(root): update tsconfig.json to include current directory
  tsconfig.json
Due: prettier --write

style(theme): add default color scheme
  packages/components/button/package.json
  packages/core/theme/package.json
  packages/core/theme/src/colors/semantic.ts
  packages/core/theme/src/colors/types.ts
  packages/core/theme/stories/utils/colors.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm run lint:fix

chore(root): add README.md file
  README.md
Due: prettier --write

chore: update .prettierignore file
  .prettierignore
Due: none

feat: add tv merge config
  .eslintrc.json
  .vscode/settings.json
  packages/components/button/src/button.tsx
  packages/components/button/src/index.ts
  packages/components/button/src/use-button.ts
  packages/components/button/stories/button.stories.tsx
  packages/core/system/package.json
  packages/core/system/src/index.ts
  packages/core/system/src/types.ts
  packages/core/system/src/utils/dom.ts
  packages/core/system/src/utils/hooks.ts
  packages/core/system/src/utils/index.ts
  packages/core/system/tsconfig.json
  packages/core/system/tsup.config.ts
  packages/core/theme/src/components/button.ts
  packages/core/theme/src/components/index.ts
  packages/core/theme/src/config-resolution.ts
  packages/core/theme/src/index.ts
  packages/core/theme/src/plugin.ts
  packages/core/theme/src/themes.ts
  packages/core/theme/src/types.ts
  packages/core/theme/src/utils/index.ts
  packages/core/theme/src/utils/tv.test.ts
  packages/core/theme/src/utils/tv.ts
  packages/core/theme/src/utils/variants.ts
  packages/storybook/.storybook/preview.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm run lint:fix
